%p.normal
  %div
    Enter your
    %a{ :href => 'https://prowl.weks.net/settings.php' } Prowl API Key(s)
    (separated by commas)
  %input.text#tumblr_notifier_email{ :id => "prowl_api_keys", :name => "notifiers[Prowl][api_keys]", :value => config['api_keys'], :type => 'text' }
%p.normal
  %label{ :for => "prowl_success" } Success:
  %input.checkbox#tumblr_notifier_success{ :id => "prowl_success", :name => "notifiers[Prowl][success]", :checked => config['success'], :type => 'checkbox', :value => "1" }
%p.normal
  %label{ :for => "prowl_failed" } Failed:
  %input.checkbox#tumblr_notifier_failed{ :id => "prowl_failed", :name => "notifiers[Prowl][failed]", :checked => config['failed'], :type => 'checkbox', :value => "1" }
%p.normal
  %label{ :for => "prowl_pending" } Pending:
  %input.checkbox#tumblr_notifier_pending{ :id => "prowl_pending", :name => "notifiers[Prowl][pending]", :checked => config['pending'], :type => 'checkbox', :value => "1" }
